# Circle
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_STABLEFX_WEBHOOK_SECRET=

# Arc
ARC_MAINNET_RPC=https://arc-rpc.circle.com
ARC_TESTNET_RPC=https://arc-testnet-rpc.circle.com
ARC_CHAIN_ID=2818

# Origin
ORIGIN_OPERATOR_PRIVATE_KEY=
